footer.footer.pt-5.bg-primary.text-white
	.container
		.row
			.col-lg-5.order-1.order-lg-0
				.row.no-gutters
					.col-5.mb-4
						dl
							dt Залы
							dd: a.link-white(href="") Русская баня
							dd: a.link-white(href="") Финский зал
							dd: a.link-white(href="") Турецкий зал
					.col-7.mb-4
						dl
							dt Акции и новости
							dd: a.link-white(href="") Дневные скидки
							dd: a.link-white(href="") 5-й час бесплатно
							dd: a.link-white(href="") Новогодние корпоративы
					.col-5.mb-4
						dl
							dt О компании
							dd: a.link-white(href="") О комплексе
							dd: a.link-white(href="") Услуги
							dd: a.link-white(href="") Отзывы
							dd: a.link-white(href="") Контакты
					.col-7.mb-4
						dl.contacts-block
							dt Контакты
							dd 
								+icon('geo','icon-contacts')
								a.link-white(href="") Барнаул, ул. Фурманова, 81
							dd 
								+icon('mail','icon-contacts')
								a.link-white(href="mailto: info@malinki-barnaul.ru") info@malinki-barnaul.ru
							dd.contacts-phone
								+icon('phone','icon-contacts')
								a.link-white(href="tel:+73852588858") +7 (3852) 58-88-58<br>
								a.link-white(href="tel:+79635351919") +7 (963) 535-19-19<br>
								a.link-white(href="tel:+73852386878") +7 (3852) 38-68-78
			.col-lg-7.mb-5.mb-lg-0
				.row.no-gutters
					.col-lg-7.d-none.d-lg-block.z-index
						.embed-responsive.embed-responsive-1by1
							+pic('embed-responsive-item bg','content','about1','jpg')
					.col-lg-5.d-flex.flex-column
						.row.no-gutters.instagram-block.order-1.order-lg-0
							.col-6.col-sm-3.col-lg-6.instagram-photo
								.embed-responsive.embed-responsive-1by1
									+pic('embed-responsive-item bg','content','about1','jpg')
							.col-6.col-sm-3.col-lg-6.instagram-photo
								.embed-responsive.embed-responsive-1by1
									+pic('embed-responsive-item bg','content','about1','jpg')
							.col-6.col-sm-3.col-lg-6.instagram-photo
								.embed-responsive.embed-responsive-1by1
									+pic('embed-responsive-item bg','content','about1','jpg')
							.col-6.col-sm-3.col-lg-6.instagram-photo
								.embed-responsive.embed-responsive-1by1
									+pic('embed-responsive-item bg','content','about1','jpg')
						a(href="").instagram-sign.d-flex.align-items-center.no-link
							.icon-social.d-inline-flex.mx-3.order-1.order-lg-0
								+icon('insta')
							.text-big Подписывайтесь на нас в instagram