extends templates/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'
block content
	section.section-banner.dark-overlay
		+pic('banner bg', 'content', 'banner','jpg')
		.container.z-index.position-relative.text-white.text-center
			.main-banner-content
				h1 Русская банька на березовых дровах
				p Вы по достоинству оцените жаркую парную на берёзовых дровах с её целебным паром. После баньки можно окунуться в тёплый бассейн!
				p.mb-5 Закрытый дворик с беседкой и мангалом станет прекрасным дополнением для Вашего отдыха.
				.btn.btn-lg ЗВОНИТЕ: 58-88-58
		//- .swiper-container.slider-banner.z-index
		//- 	.swiper-wrapper
		//- 		.swiper-slide.text-white.text-center
		//- 			.container
		//- 				.row
		//- 					.col-lg-6.offset-lg-3
		//- 						h1 Русская банька на березовых дровах
		//- 						p.mb-5 Вы по достоинству оцените жаркую парную, в которой расположена купель с бодрящей ледяной водой. В комнате отдыха к Вашим услугам: мангал, TV, полотенца, простыни. Кроме того, в каждой бане, имеется внутренний закрытый дворик.
		//- 		.swiper-slide.text-white.text-center
		//- 			.container
		//- 				.row
		//- 					.col-lg-6.offset-lg-3
		//- 						h1 Русская банька на березовых дровах
		//- 						p.mb-5 Вы по достоинству оцените жаркую парную, в которой расположена купель с бодрящей ледяной водой. В комнате отдыха к Вашим услугам: мангал, TV, полотенца, простыни. Кроме того, в каждой бане, имеется внутренний закрытый дворик.
	
		//- .swiper-button-prev.banner-button-prev.d-none.d-lg-flex
		//- 	+icon('arrow','swiper-arrow')
		//- .swiper-button-next.banner-button-next.d-none.d-lg-flex
		//- 	+icon('arrow','swiper-arrow')
	section.section-halls.section-pattern
		.container
			h1 Наши залы
			.row
				.col-lg-4.d-flex.img-block__wrapper
					.img-block.wow(data-wow-offset="200")
						+pic('img-block__photo', 'content', 'hall1','jpg')
						.img-block__title Финский с водной горкой TOBOGGAN
				.col-lg-4.d-flex.img-block__wrapper
					.img-block.wow(data-wow-offset="200")
						+pic('img-block__photo', 'content', 'hall2','jpg')
						.img-block__title Турецкий зал с хамамом
				.col-lg-4.d-flex.img-block__wrapper
					.img-block.wow(data-wow-offset="200")
						+pic('img-block__photo', 'content', 'hall3','jpg')
						.img-block__title Русская банька на березовых дровах				
	section.section-advantages.section-pattern.section-pattern--bottom
		.container
			h1.text-center Баня — это здорово!
			.row
				.col-sm-4.text-center
					.info-block
						img.info-block__img.mb-3(src="img/general/sauna.svg", alt="")
						.info-block__content
							.info-block__title.mb-1 Три зала вместимостью до 10 человек
							ul.info-block__desc
								li русская баня, финская сауна, турецкий хамам
				.col-sm-4.text-center
					.info-block
						img.info-block__img.mb-3(src="img/general/bbq.svg", alt="")
						.info-block__content
							.info-block__title.mb-1 Уютный дворик c беседкой и зоной барбекю
							ul.info-block__desc
								li разнообразит ваш отдых
				.col-sm-4.text-center
					.info-block
						img.info-block__img.mb-3(src="img/general/slide.svg", alt="")
						.info-block__content
							.info-block__title.mb-1 Увлекательная водная горка TOBOGGAN
							ul.info-block__desc
								li приведёт в восторг детей и взрослых
	section.section-promo.text-white.dark-overlay
		+pic('promo bg','content','promo','jpg')
		.container.z-index.position-relative
			.row
				.col-lg-7.promo-content.wow(data-wow-offset="200")
					h1.mb-5 Забронируйте сейчас в&nbsp;один клик!
					.btn.btn-secondary(data-toggle="modal" data-target="#modal") ЗАБРОНИРОВАТЬ							
	section.section-about-us
		.container
			h1 Малинки в цифрах
			.row.text-white.mb-n5
				.col-sm-6.col-lg-4.about-item
					.embed-responsive.embed-responsive-4by3
						.glow-wrap
							i.glow
						+pic('embed-responsive-item bg','content','about1','jpg')
					.about-item__content
						.about-item__num.about-item__num1.wow 0
						.about-item__text Радуем Вас с 2013 года
				.col-sm-6.col-lg-4.about-item
					.embed-responsive.embed-responsive-4by3
						.glow-wrap
							i.glow
						+pic('embed-responsive-item bg','content','about2','jpg')
					.about-item__content
						.about-item__num.about-item__num2.wow 0
						.about-item__text 3824 Довольных клиентов
				.col-sm-6.offset-sm-3.offset-lg-0.col-lg-4.about-item
					.embed-responsive.embed-responsive-4by3
						.glow-wrap
							i.glow
						+pic('embed-responsive-item bg','content','about3','jpg')
					.about-item__content
						.about-item__num.about-item__num3.wow 0
						.about-item__text уютных зала с русской парной, финской сауной и турецких хамамом 
	section.section-slider.section-pattern.section-pattern--bottom
		.container
			h1 Малинки — бани и сауны в Барнауле
			.row
				.col-lg-6.order-1.order-lg-0.sider-left-block.wow(data-wow-offset="200")
					p: b Банный комплекс «Малинки»  приглашает гостей окунуться в разнообразие банных традиций. Ведь у нас представлены сразу три вида парных – русская баня на берёзовых дровах, финская сауна, турецкий хамам. 
					p В чём же отличие?
					p Русская баня характеризуется высокой влажностью воздуха – 40-70%. Температура – относительно невысокая 50-70°С. В русской бане всегда влажный пар. 
					ul.line-decoration
						li Русская баня характеризуется высокой влажностью воздуха – 40-70%. Температура – относительно невысокая 50-70°С. В русской бане всегда влажный пар. 
						li В отличие от русской бани, в финской парной сухой горячий воздух. Температура парной достигает 100- 110°С, при этом влажность воздуха 10-20%. В финской сауне всегда сухой пар.
						li В хамаме температуры не такие экстремальные, как в финской сауне – всего 40-50 С°, но влажность при этом достигает примерно 80%. Хамам любим многими женщинами из-за мягких условий и возможности проводить эффективные косметические процедуры.
					p Поэтому в нашем банном комплексе каждый может выбрать отдых по вкусу, а мы позаботимся о вашем комфорте!  
					p «Малинки» рады гостям в любое время суток! 
					a.link-arrow(href="")
						| Подробнее
						+icon('arrow')
				.col-lg-6
					.swiper-container.gallery.wow(data-wow-offset="200")
						.swiper-wrapper
							.swiper-slide
								.embed-responsive.embed-responsive-4by3
									+pic('about-item embed-responsive-item bg','content','about3','jpg')
							.swiper-slide
								.embed-responsive.embed-responsive-4by3
									+pic('about-item embed-responsive-item bg','content','about2','jpg')
							.swiper-slide
								.embed-responsive.embed-responsive-4by3
									+pic('about-item embed-responsive-item bg','content','about3','jpg')
						.swiper-pagination.gallery-pagination
	section.section-reviews.section-pattern.bg-primary.text-white
		.container
			h1.text-center Отзывы
			.swiper-container.reviews.mb-3.pt-3
				.swiper-wrapper
					.swiper-slide
						.reviews__photo.mb-4(style="background: url('img/content/review-photo1.jpg') center/cover")
						p.reviews__text.
							Отдыхали здесь несколько раз большой
							компанией и все остались довольны.
							Чисто, просторно и не дорого. Вкусно кормят. Обслуживание отличное
							А самое главное  - баня на дровах!
							Давно таких не встречал в Барнауле. Рекомендую!
						.reviews__author.text-right
							span Александр
					.swiper-slide
						.reviews__photo.mb-4(style="background: url('img/content/review-photo2.jpg') center/cover")
						p.reviews__text.
							Какие только русские бани и сауны в Барнауле я не видел. А здесь просто проходил мимо и решил зайти посмотреть. В итоге пробыл часа три. Не жалею потраченных денег - оно действительно того стоит. Настоящая русская баня в Барнауле!
						.reviews__author.text-right
							span Владимир
					.swiper-slide
						.reviews__photo.mb-4(style="background: url('img/content/review-photo3.jpg') center/cover")
						p.reviews__text.
							Отличная сауна с бассейном! Ходили
							с детками - им все очень понравилось,
							как и взрослым. Сразу видно, комплекс действительно сделан для людей.
							Тем, кто ещё здесь не был - очень рекомендую.
						.reviews__author.text-right
							span Ирина
					.swiper-slide
						.reviews__photo.mb-4(style="background: url('img/content/review-photo1.jpg') center/cover")
						p.reviews__text.
							Отдыхали здесь несколько раз большой
							компанией и все остались довольны.
							Чисто, просторно и не дорого. Вкусно кормят. Обслуживание отличное
							А самое главное  - баня на дровах!
							Давно таких не встречал в Барнауле. Рекомендую!
						.reviews__author.text-right
							span Александр
					.swiper-slide
						.reviews__photo.mb-4(style="background: url('img/content/review-photo2.jpg') center/cover")
						p.reviews__text.
							Какие только русские бани и сауны в Барнауле я не видел. А здесь просто проходил мимо и решил зайти посмотреть. В итоге пробыл часа три. Не жалею потраченных денег - оно действительно того стоит. Настоящая русская баня в Барнауле!
						.reviews__author.text-right
							span Владимир
					.swiper-slide
						.reviews__photo.mb-4(style="background: url('img/content/review-photo3.jpg') center/cover")
						p.reviews__text.
							Отличная сауна с бассейном! Ходили
							с детками - им все очень понравилось,
							как и взрослым. Сразу видно, комплекс действительно сделан для людей.
							Тем, кто ещё здесь не был - очень рекомендую.
						.reviews__author.text-right
							span Ирина
			.d-flex.justify-content-end.mb-4.mb-sm-0
				.swiper-button-prev.reviews-prev.swiper-button--small.mr-3
					+icon('arrow','swiper-arrow swiper-arrow--small')
				.swiper-button-next.reviews-next.swiper-button--small
					+icon('arrow','swiper-arrow swiper-arrow--small')
			.btn-container.text-center
				.btn.btn-white Все отзывы
	section.section-news.section-pattern.section-pattern--bottom-right
		.container
			h1 Акции и новости
			.row.text-white.mb-5
				.col-lg-6.about-item
					.embed-responsive.embed-responsive-16by9
						.glow-wrap
							i.glow
						+pic('embed-responsive-item bg','content','news1','jpg')
					.about-item__content.about-item__content--bottom
						.about-item__title.text-big Дневные скидки!
						.about-item__text
						.about-item__date 29 октября 2019
				.col-lg-6.about-item
					.embed-responsive.embed-responsive-16by9
						.glow-wrap
							i.glow
						+pic('embed-responsive-item bg','content','news2','jpg')
					.about-item__content.about-item__content--bottom
						.about-item__title.text-big 5-й час бесплатно!
						.about-item__text Дарим 5-й час по будням бесплатно!
						.about-item__date 29 октября 2019
			.btn-container.text-center
				.btn.btn-secondary Все новости
	a.go-top(href="#header")
		+icon('arrow','swiper-arrow')