extends ../templates/main

block variables
  - var title = 'О компании'
block content
  section.section-banner.section-banner--small.p-0
    .h-100(style="background: url(/img/content/banner.jpg) no-repeat bottom/cover fixed")
    .container.banner-content
      h2.banner-title О компании
  section.section-company
    .container
      p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque, pariatur nemo quos reprehenderit impedit dolore, mollitia nisi consectetur in incidunt deserunt hic quis sit blanditiis eum amet, quas veniam dolorum rem earum placeat? Debitis quae repellat delectus hic. Voluptates, modi ipsam natus deleniti nobis illo eaque quis magni fuga eveniet quas voluptatum officiis dolorem, earum, esse cumque necessitatibus voluptatem odit! Provident quia ipsa facilis temporibus nostrum libero in voluptatibus excepturi. Harum facilis quibusdam libero! Quo voluptatibus aspernatur laborum? Impedit quaerat, vel autem nesciunt earum fuga. Dicta soluta aut non iure rerum tempora nostrum maiores. Voluptas quam repudiandae quis accusantium corporis?
      p.text-center
        +pic('3d','content','news1','jpg')