extends ../templates/main

block variables
  - var title = 'Акции и новости'
block content
  section.section-banner.section-banner--small.p-0
    .h-100(style="background: url(/img/content/banner.jpg) no-repeat bottom/cover fixed")
    .container.banner-content
      h2.banner-title Акции и новости
  section.section-news
    .container
      .row.text-white
        .col-lg-6.about-item
          .embed-responsive.embed-responsive-16by9
            .glow-wrap
              i.glow
            +pic('embed-responsive-item bg','content','news1','jpg')
          .about-item__content.about-item__content--bottom
            .about-item__title.text-big Дневные скидки!
            .about-item__text
            .about-item__date 29 октября 2019
        .col-lg-6.about-item
          .embed-responsive.embed-responsive-16by9
            .glow-wrap
              i.glow
            +pic('embed-responsive-item bg','content','news2','jpg')
          .about-item__content.about-item__content--bottom
            .about-item__title.text-big 5-й час бесплатно!
            .about-item__text Дарим 5-й час по будням бесплатно!
            .about-item__date 29 октября 2019
        .col-lg-6.about-item
          .embed-responsive.embed-responsive-16by9
            .glow-wrap
              i.glow
            +pic('embed-responsive-item bg','content','news1','jpg')
          .about-item__content.about-item__content--bottom
            .about-item__title.text-big Дневные скидки!
            .about-item__text
            .about-item__date 29 октября 2019
        .col-lg-6.about-item
          .embed-responsive.embed-responsive-16by9
            .glow-wrap
              i.glow
            +pic('embed-responsive-item bg','content','news2','jpg')
          .about-item__content.about-item__content--bottom
            .about-item__title.text-big 5-й час бесплатно!
            .about-item__text Дарим 5-й час по будням бесплатно!
            .about-item__date 29 октября 2019
        .col-lg-6.about-item
          .embed-responsive.embed-responsive-16by9
            .glow-wrap
              i.glow
            +pic('embed-responsive-item bg','content','news1','jpg')
          .about-item__content.about-item__content--bottom
            .about-item__title.text-big Дневные скидки!
            .about-item__text
            .about-item__date 29 октября 2019
        .col-lg-6.about-item
          .embed-responsive.embed-responsive-16by9
            .glow-wrap
              i.glow
            +pic('embed-responsive-item bg','content','news2','jpg')
          .about-item__content.about-item__content--bottom
            .about-item__title.text-big 5-й час бесплатно!
            .about-item__text Дарим 5-й час по будням бесплатно!
            .about-item__date 29 октября 2019
